body {
  margin: 0;
  font-family: 'Poppins', cambria;
  background: linear-gradient(135deg, #000000, #9333ea, #ec4899);
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  backdrop-filter: blur(10px);
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #ffd700;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: #ffd700;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  transform: scale(1.1);
}

/* GLASS EFFECT */
.glass {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

/* SKILLS */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  background: rgba(255,255,255,0.2);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.skill:hover {
  transform: scale(1.2);
  background: #ffd700;
  color: black;
}

/* PROJECT CARDS */
.card {
  background: rgba(255,255,255,0.15);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
}

/* CONTACT */
section {
  padding: 40px;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}
